{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <dev>
        {{ form.name }}
    </dev>
    <dev>
        {{ form.subject }}
    </dev>
    <dev>
        {{ form.content }}
    </dev>
    <dev>
        <input type = "file" name = "content_file" multiple>
    </dev>
    <dev>
        <input type = "file" name = "content_audio" multiple>
    </dev>
    <button type="submit">Сохранить урок</button><br>
        <span> {{error}}</span>
    </form>
{% endblock %}
