@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');


body {
    font-family: Constantia, sans-serif;
    background: #ffffff; /* цвет фона страницы */
}


p {
    color: #111111; /* цвет текста параграфов */
    font-family: 'Constantia', sans-serif; /* гарнитура шрифта параграфов */
    font-size: 100%; /* размер шрифта */
    text-align: center; /* текст по центру */
    /*border: 5px green double; /* стили рамки */
}


a {
    color: #111111; /* цвет текста параграфов */
    font-family: 'Constantia', sans-serif; /* гарнитура шрифта параграфов */
    font-size: 100%; /* размер шрифта */
    text-align: center; /* текст по центру */
    /*border: 5px green double; /* стили рамки */
}


.img {
    max-width: 100px;

}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}

.button {
    background-color: #45a1ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.img {
    height: 100px;
    width: 100px;
}

/*<!--Навигация-->*/


header {
    float: top;
    text-align: center;
    background: blue;
}


.menu-main {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 0 5px;
    background: white;
}

.menu-main li {
    display: inline-block;
}

.menu-main li:after {
    content: "|";
    color: #1d1d4e;
    display: inline-block;
    vertical-align: top;
}

.menu-main li:last-child:after {
    content: none;
}

.menu-main a {
    text-decoration: none;
    font-family: 'Constantia', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}

.menu-main a, .menu-main a:visited {
    color: #343232;
}

.menu-main a.current, .menu-main a:hover {
    color: #060d57;
}

.menu-main a:before,
.menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: 5px;
    left: 50%;
    background: #45a1ff;
    transition: .8s;
}

.menu-main a:hover:before, .menu-main .current:before {
    left: 0;
}

.menu-main a:hover:after, .menu-main .current:after {
    right: 0;
}

@media (max-width: 550px) {
    .menu-main {
        padding-top: 0;
    }

    .menu-main li {
        display: block;
    }

    .menu-main li:after {
        content: none;
    }

    .menu-main a {
        padding: 25px 0 20px;
        margin: 0 30px;
    }
}


.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }