{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
    <p><li><a href="http://127.0.0.1:8000/create?subject={{ title }}">Создать урок</a></li></p>
    <p>Список уроков по {{ title }}</p>
    {% for n in lessons %}
        <p><a href="http://127.0.0.1:8000/lessons/page/{{ n.id }}">{{ n.name }}</a></p>
        <p><a href="http://127.0.0.1:8000/lessons/page/{{ n.id }}/update/">Редактировать урок {{ n.name }}</a> </p>
        <p>{{ n.content }}</p>
        <p>_______________________</p></br>
    {% endfor %}

{% endblock %}
